<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grafy POIT 2022</title>
    <style type="text/css">           
    </style>
    <script src="static/libs/jquery-1.11.1.min.js"></script>
    <script src="static/libs/plotly-latest.min.js"></script>

  <script>
   $(document).ready(function(){
    var layout = {
          title: 'Graf vlhkosti vzduchu',
          xaxis: {
            title: 'time (s)',
            range: [0,40]
          },
          yaxis: {
            title: 'humidity (%)',
            range: [0,100]
          }
        };  
    var layout1 = {
          title: 'Graf teploty',
          xaxis: {
            title: 'time (s)',
            range: [0,40]
          },
          yaxis: {
            title: 'temperature (°C)',
            range: [0,50]
          }
        }; 
    var layout2 = {
          title: 'Graf tlaku vzduchu',
          xaxis: {
            title: 'time (s)',
            range: [0,40]
          },
          yaxis: {
            title: 'pressure (Pa)',
            range: [99000,100500]
          }
        };              
    $.ajax({
      type: "POST",
      url: "/dbdata/5",
      success:function(data) 
      { console.log(data);  
        data = JSON.parse(data);
        console.log(data);    
        n = Object.keys(data).length;
        console.log(n);
        
        hl = [];
        tl = [];
        pl = [];
        xl = [];

        for (var i=0; i< n; i++){
          hl.push(data[i].h);
          tl.push(data[i].t); 
          pl.push(data[i].p);
          xl.push(data[i].x);}
        let trace = [{
            x: xl,
            y: hl}];
        let tracet = [{
            x: xl,
            y: tl}];  
        let tracep = [{
            x: xl,
            y: pl}]; 
      
        Plotly.newPlot($('#plotdiv')[0], trace, layout); 
        Plotly.newPlot($('#plotdiv1')[0], tracet,layout1);  
        Plotly.newPlot($('#plotdiv2')[0], tracep,layout2);         
      }
    }).done(function( o ) {
       // do something
    });    
   });   

  </script>
</head>
<body>
 
    <div id="plotdiv" style="width:800px;height:450px;"></div>
    <div id="plotdiv1" style="width:800px;height:450px;"></div>
    <div id="plotdiv2" style="width:800px;height:450px;"></div>    
</body>
</html> 
